<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% include 'cdnlines.html' %}
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <h1 class="text-center">TOdoData Information..</h1>
          <form method="POST">
            {% csrf_token %}
            <label>task_title</label>
            <input type="text" name="task_title" class="form-control">
            <label>task_description</label>
            <textarea name="task_description" rows="8" cols="80" class="form-control"></textarea>
            <label>date</label>
            <input type="date" name="date" class="form-control">
            <div class="text-center">
              <input type="submit"  value="submit" class="btn btn-outline-success">
              <input type="cancel"  value="cancel" class="btn btn-outline-danger">

            </div>
          </form>

        </div>

      </div>

    </div>

  </body>
</html>
